@use 'sass:map';

@use 'fonts';
@use 'breakpoints';

.unity {
  &-header {
    margin-top: 16px;
    position: relative;
  }
  &-img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 35vh;
  }
  &-caption {
      position: absolute;
      width: 100%;
      bottom: 0;
      padding: 20px;
      color: #fff;
      font-family: fonts.$text-font-family;
      font-size: 1em;
      background: transparent linear-gradient(rgba(1,1,1,0.7),rgba(1,1,1,0.3));
  }
  &-title{
    font-family: fonts.$header-font-family;
    font-size: 1.5rem;
  }
}
#contentContainer{
  margin-top: 2em;
  .card{
    border-radius: 0;
    &-title{
      font-family: fonts.$header-font-family;
    }
    &-text{
      text-align: justify;
    }
  }
  .profile-container {
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .profile-img {
    display: inline;
    margin: 0 auto;
    height: 24px;
    width: auto;
  }
}

@media (max-width: map.get(breakpoints.$grid-breakpoints, "md")){
  #contentContainer {
    column-count: 2;
  }
}

@media (max-width: map.get(breakpoints.$grid-breakpoints, "sm")){
  #contentContainer {
    column-count: 1;
  }
}
